<html ng-app="LockingSystem">
  <head>
    <title>Secure Lock</title>
    <script src="js/aws-cognito-sdk.min.js"></script>
    <script src="js/amazon-cognito-identity.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.80.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src="js/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="js/ng-file-upload.min.js"></script>
    <script src="Web-Console/app.module.js"></script>
    <script src="Web-Console/app.config.js"></script>
    <script src="Web-Console/login.module.js"></script>
    <script src="Web-Console/secure.module.js"></script>
    <script src="Web-Console/users.component.js"></script>
    <script src="Web-Console/createUser.module.js"></script>
    <script src="Web-Console/createuser.component.js"></script>
    <script src="Web-Console/userdetail.module.js"></script>
    <script src="Web-Console/userdetail.component.js"></script>
    <script src="Web-Console/createLock.module.js"></script>
    <script src="Web-Console/createLock.component.js"></script>
    <script src="Web-Console/login.component.js"></script>
    <script src="Web-Console/login.service.js"></script>
    <script src="Web-Console/viewlocks.module.js"></script>
    <script src="Web-Console/viewlocks.component.js"></script>
    <script src="Web-Console/lockdetail.module.js"></script>
    <script src="Web-Console/lockdetail.component.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">





  </head>
  <body>
    <div ng-view></div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </body>

  <script type="text/ng-template" id="login.html">
    <div style="width: 50%;" ng-controller="LoginController"  class="container">
      <form>
        <div class="form-group">
        <label for="formGroupExampleInput">Username: </label>
        <input type="text" class="form-control" for="formGroupExampleInput" ng-model="user.username" placeholder="me@email.com">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Password: </label>
        <input type="text" class="form-control" for="formGroupExampleInput" ng-model="user.password" placeholder="Your Password">
      </div>
        <input type="submit" value="Login"  ng-click="login()" class="btn btn-primary">
      </form>
    </div>
</script>

<script type="text/ng-template" id="user.html">
  <div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Secure Lock</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#/secure">View Users <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#/createUser">Create User</a>
          <a class="nav-item nav-link" href="#/viewLocks">View Locks</a>
          <a class="nav-item nav-link" href="#/createLock">Create Lock</a>
          <a class="nav-item nav-link" class="button" ng-click="logout()">Log Out</a>
        </div>
      </div>
    </nav>
    <div class="list-group">

      <a ng-repeat="user in $ctrl.Users" href="#/userDetail/{{user.Username}}" class="list-group-item list-group-item-action">  {{user.Username}}</a>

    </div>

</div >


</script>



<script type="text/ng-template" id="create_user.html">
  <div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Secure Lock</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#/secure">View Users </a>
        <a class="nav-item nav-link active" href="#/createUser">Create User <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#/viewLocks">View Locks</a>
        <a class="nav-item nav-link" href="#/createLock">Create Lock</a>
        <a class="nav-item nav-link" ng-click="logout()">Log Out</a>
      </div>
    </div>
  </nav>
  <form ng-app="createUser" ng-controller="createUserController">
    <div class="btn btn-primary" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
        ngf-resize="{width: 200, height: 200}">Select Head Shot</div>

    <img ngf-src="file || '/thumb.jpg'">
    <div class="form-group">
    <label for="formGroupExampleInput">First Name: </label>
    <input type="text" class="form-control" for="formGroupExampleInput" ng-model="user.firstname" placeholder="John">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Last Name: </label>
    <input type="text" class="form-control" for="formGroupExampleInput2" ng-model="user.lastname" placeholder="Doe">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput3">Email: </label>
    <input type="text" class="form-control" for="formGroupExampleInput3" ng-model="user.email" placeholder="me@email.com">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput4">Username: </label>
    <input type="text" class="form-control" for="formGroupExampleInput4" ng-model="user.username" placeholder="JDoe">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput5">Admin: </label>
    <input type="checkbox" class="form-control" for="formGroupExampleInput5" ng-model="user.isAdmin">
  </div>
  <input type="submit" value="Submit"  ng-click="submit(file)" class="btn btn-primary">
</form>



  </div >
</script>

<script type="text/ng-template" id="user_detail.html">
  <div class="container" ng-controller="userDetailController as ctrl">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Secure Lock</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#/secure">View Users </a>
        <a class="nav-item nav-link" href="#/createUser">Create User</a>
        <a class="nav-item nav-link" href="#/viewLocks">View Locks</a>
        <a class="nav-item nav-link" href="#/createLock">Create Lock</a>
        <a class="nav-item nav-link" ng-click="logout()">Log Out</a>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-4"><p>Username: </p></div>
        <div class="col-sm-4"><p>{{ctrl.user.Username}}</p></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><p>First Name: </p></div>
        <div class="col-sm-4"><p>{{ctrl.userdetails[1].Value}}</p></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><p>Last Name: </p></div>
        <div class="col-sm-4"><p>{{ctrl.userdetails[2].Value}}</p></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><p>Email: </p></div>
        <div class="col-sm-4"><p>{{ctrl.userdetails[3].Value}}</p></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><p>User Status: </p></div>
        <div class="col-sm-4"><p>{{ctrl.user.UserStatus}}</p></div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <img src="https://s3.amazonaws.com/lockingsystem-userfiles-mobilehub-1141210121/{{ctrl.username}}"/>
      </div>
      <div class="row">
        <input type="submit" value="{{ctrl.userdetails[4].Value == 'false' ? 'Make Admin': 'Take Away admin prilages'}}"  ng-click="ctrl.makeAdmin()" class="btn btn-primary">
      </div>
    </div>
  </div>
  <h2> Users Locks</h2>
  <ul>
    <li ng-repeat="lock in ctrl.userlocks">{{lock.LockName.S}}</li>
  </ul>

  <h2>Locks</h2>

<form ng-app="userDetail" ng-controller="userDetailController">

  <div class="list-group">
    <a ng-repeat="lock in ctrl.locks" class="list-group-item list-group-item-action" ng-click="ctrl.setLocks(lock.LockName.S)">{{lock.LockName.S}}</a>
  </div>
</form>
<input type="submit" value="Delete User"  ng-click="ctrl.deleteUser()" class="btn btn-danger">

</div>
</script>

<script type="text/ng-template" id="create_lock.html">
  <div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Secure Lock</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#/secure">View Users </a>
        <a class="nav-item nav-link" href="#/createUser">Create User </a>
        <a class="nav-item nav-link" href="#/viewLocks">View Locks</a>
        <a class="nav-item nav-link  active" href="#/createLock">Create Lock <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" ng-click="logout()">Log Out</a>
      </div>
    </div>
  </nav>
  <form ng-app="createLock" ng-controller="createLockController">
    <div class="form-group">
      <label for="formGroupExampleInput2">Lock Name: </label>
      <input type="text" class="form-control" for="formGroupExampleInput2" ng-model="lock.name" placeholder="First Floor">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput3">Lock Description: </label>
      <textarea class="form-control" rows="3" for="formGroupExampleInput3" ng-model="lock.description" placeholder="Description"></textarea>
      </div>
      <input type="submit" value="Submit"  ng-click="submit()" class="btn btn-primary">
    </form>
  </div>
</script>

<script type="text/ng-template" id="view_locks.html">
  <div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Secure Lock</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#/secure">View Users </a>
          <a class="nav-item nav-link" href="#/createUser">Create User</a>
          <a class="nav-item nav-link active" href="#/viewLocks">View Locks <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#/createLock">Create Lock</a>
          <a class="nav-item nav-link " class="button" ng-click="logout()">Log Out</a>
        </div>
      </div>
    </nav>
    <div class="list-group">

      <a ng-repeat="lock in $ctrl.Locks" href="#/lockDetail/{{lock.LockName.S}}" class="list-group-item list-group-item-action">  {{lock.LockName.S}}</a>

    </div>

</div >


</script>

<script type="text/ng-template" id="lock_detail.html">
  <div class="container" ng-controller="lockDetailController as ctrl">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Secure Lock</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#/secure">View Users </a>
        <a class="nav-item nav-link" href="#/createUser">Create User</a>
        <a class="nav-item nav-link" href="#/viewLocks">View Locks</a>
        <a class="nav-item nav-link" href="#/createLock">Create Lock</a>
        <a class="nav-item nav-link" ng-click="logout()">Log Out</a>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-4"><p>Lock Name: </p></div>
        <div class="col-sm-4"><p>{{ctrl.lock[0].LockName.S}}</p></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><p>Lock Description: </p></div>
        <div class="col-sm-4"><p>{{ctrl.lock[0].Description.S}}</p></div>
      </div>
    </div>
  </div>
</div>
</script>

</html>
